.btn-minus{
    background: #000563;
background: radial-gradient(circle, rgba(0, 5, 99, 1) 0%, rgba(252, 70, 107, 1) 100%);
    box-shadow: rgb(2, 2, 94);
    border-radius: 8px;
}

.btn-plus{
    background: #000563;
background: radial-gradient(circle, rgba(0, 5, 99, 1) 0%, rgba(252, 70, 107, 1) 100%);
    box-shadow: rgb(2, 2, 94);
    border-radius: 8px;
}